{% extends 'base.html' %}

{% block content %}
   <main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum saepe ut sequi obcaecati odio officiis quod dolorem optio veritatis illum.</p>

        <div class="text-center">

            <a class="btn btn-secondary" href="/signin/">
                Sign in
            </a>
    
            <a class="btn btn-dark" href="/signup/">
                Sign Up
            </a>
            
           </main>
        </div>
    </section>

   
   
{% endblock %}
